body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button3 {
  background-color: #ffffff;
  height: 100px;
  width: 150px;
  border: 2px solid rgb(46, 95, 230);
}

.button3:hover {
  background-color: #2e5fe6;
}

.button2 {
  height: 100px;
  width: 500px;
  border-bottom: 3px solid rgb(212, 212, 212);
  border-top: 0px;
  border-left: 0px;
}

.button2:hover {
  color: #a3bcff;
}
